//
// Index/Bglayer Components
// --------------------------------------------
//

section#bglayer {

  &[data-content-render='credit'] {
    @media #{$small-and-up} {
      left: $main-bg-width / -2;
    }
  }
  &[data-content-render='info'] {
    @media #{$small-and-up} {
      left: $main-bg-width / 2;
    }
  }

  &[data-bg-render="finished"] {
    .bglayer__text {
      svg {
        fill-opacity: 1;
      }

      .text--lt {
        left: 8%;
        opacity: 1;
      }

      .text--cb {
        bottom: 35%;
        opacity: 1;
      }

      .text--rb {
        right: 25%;
        opacity: 1;
      }
    }

    .bglayer__star {
      opacity: 1;
    }

    .bglayer__bg {
      .bg__image {
        opacity: 1;
      }
    }
  }

  #js-blend {
    &[data-mix-blend-mode="none"] {
      opacity: 0;
    }

    &[data-mix-blend-mode="koishi"] {
      background-color: $koishi-color;
      mix-blend-mode: screen;
      opacity: 1;
    }

    &[data-mix-blend-mode="satori"] {
      background-color: $satori-color;
      mix-blend-mode: screen;
      opacity: 1;
    }
  }

  .bglayer__text {
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    z-index: 20;

    &:before {
      content: '';
      display: block;
      padding-top: $main-bg-ratio;
    }

    @media #{$small-and-up} {
      left: 50%;
      width: $main-bg-width;
      margin-left: $main-bg-width / -2;
    }

    .text--logo {
      position: absolute;
      bottom: 22%;
      left: 50%;
      width: 116%;
      margin-left: -58%;
      height: auto;
      z-index: 1;
    }

    .text--lt {
      transition: opacity .3s, left 1s;
      transition-delay: .5s;
      position: absolute;
      top: 10%;
      left: 0;
      width: 10%;
      opacity: 0;
      z-index: 2;
    }

    .text--cb {
      transition: opacity .3s, bottom 1s;
      position: absolute;
      left: 32%;
      bottom: 0;
      width: 31%;
      opacity: 0;
      z-index: 2;
    }

    .text--rb {
      transition: opacity .3s, right 1s;
      transition-delay: .5s;
      position: absolute;
      right: 0;
      bottom: 22%;
      width: 16%;
      opacity: 0;
      z-index: 2;
    }

    svg {
      stroke: #00B5C3;
      fill-opacity: 0;
      transition: fill-opacity 1s;
    }
  }

  .bglayer__star {
    transition: opacity 1s;
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    z-index: 15;
    opacity: 0;

    &:before {
      content: '';
      display: block;
      padding-top: $main-bg-ratio;
    }

    @media #{$small-and-up} {
      left: 50%;
      width: $main-bg-width;
      margin-left: $main-bg-width / -2;
    }

    .star {
      @include keyframes(star-left) {
        0% {
          opacity: 0;
          transform: rotate(0deg);
        }
        50% {
          opacity: 1;
          transform: rotate(-180deg);
        }
        100% {
          opacity: 0;
          transform: rotate(-360deg);
        }
      }

      @include keyframes(star-right) {
        0% {
          opacity: 0;
          transform: rotate(0deg);
        }
        50% {
          opacity: 1;
          transform: rotate(180deg);
        }
        100% {
          opacity: 0;
          transform: rotate(360deg);
        }
      }

      position: absolute;
      width: 32px;
      height: 32px;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      animation-iteration-count: infinite;
      background-repeat: no-repeat;
      background-size: 32px 32px;
      opacity: 0;

      &.star--1 {
        top: 5%;
        right: 10%;
        animation-name: star-right;
        animation-duration: 10s;
        background-image: url($star-1-image);
      }

      &.star--2 {
        top: 10%;
        right: 17.5%;
        animation-name: star-left;
        animation-duration: 15s;
        animation-delay: 3s;
        background-image: url($star-2-image);
      }

      &.star--3 {
        top: 17.5%;
        right: 12.5%;
        animation-name: star-right;
        animation-duration: 20s;
        animation-delay: 6s;
        background-image: url($star-3-image);
      }

      &.star--4 {
        top: 5.5%;
        right: 27.5%;
        animation-name: star-left;
        animation-duration: 20s;
        animation-delay: 9s;
        background-image: url($star-4-image);
      }
    }
  }

  .bglayer__bg {
    height: 100%;
    text-align: center;

    .bg__image {
      transition: opacity 1.5s;
      position: absolute;
      bottom: 5%;
      left: 0;
      width: 100%;
      height: auto;
      opacity: 0;

      @media #{$small-and-up} {
        left: 50%;
        width: $main-bg-width;
        margin-left: $main-bg-width / -2;
      }
    }
  }
}
