//
// Index/Credit Components
// --------------------------------------------
//

section#credit {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  @media #{$small-and-up} {
    width: $main-bg-width;
  }

  &[data-render='ready'] {
    @include keyframes(show-credit) {
      0% {
        right: -$main-bg-width;
      }
      100% {
        right: 0;
      }
    }
    right: 0;
    animation-name: show-credit;
    animation-duration: 1s;
  }

  &[data-render='destroy'] {
    @include keyframes(hidden-credit) {
      0% {
        right: 0;
      }
      100% {
        right: -$main-bg-width;
      }
    }
    right: -$main-bg-width;
    animation-name: hidden-credit;
    animation-duration: 1s;
  }

  .credit__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 0 15px;

    .content__close {
      font-size: 2rem;

      a {
        color: $primary-color;
      }
    }

    .content__author {
      color: $primary-color;
      padding: 15px;

      h2 {
        font-size: 2rem;
        margin-bottom: .75rem;
      }

      .author__image {
        display: inline-block;
        width: 123px;
        height: 123px;
        margin-right: 15px;
        background-size: cover;
        border-radius: 50%;
        border: 2px solid $primary-color;

        &.author__image--1 {
          background-image: url('../images/nig_18.jpg');
        }
        &.author__image--2 {
          background-image: url('../images/polyxx.png');
        }
      }

      .author__detail {
        display: inline-block;
        vertical-align: top;

        .detail__name {
          font-weight: bold;
        }
      }
    }
  }

  .credit__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $koishi-color;
    opacity: .9;
    z-index: 1;
  }
}
