//
// Index/Info Components
// --------------------------------------------
//

section#info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  @media #{$small-and-up} {
    width: $main-bg-width;
  }

  &[data-render='ready'] {
    @include keyframes(show-info) {
      0% {
        left: -$main-bg-width;
      }
      100% {
        left: 0;
      }
    }
    left: 0;
    animation-name: show-info;
    animation-duration: 1s;
  }

  &[data-render='destroy'] {
    @include keyframes(hidden-info) {
      0% {
        left: 0;
      }
      100% {
        left: -$main-bg-width;
      }
    }
    left: -$main-bg-width;
    animation-name: hidden-info;
    animation-duration: 1s;
  }

  .info__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    height: auto;
    z-index: 10;
    padding: 0 15px;
    background-color: $satori-color;
    opacity: .9;

    @media #{$small-and-up} {
      height: 100%;
    }

    .content__close {
      text-align: right;
      font-size: 2rem;

      a {
        color: $primary-color;
      }
    }

    .content__work {
      font-size: $font-root-mobile-size - .2;
      text-align: right;
      color: $primary-color;
      padding: 10px;

      @media #{$small-and-up} {
        font-size: $font-root-size - .2;
      }

      h2 {
        font-size: 2rem;
        margin-bottom: .75rem;
      }

      .work__images {
        margin-bottom: .75rem;

        .work__image {
          display: inline-block;
          width: 120px;
          height: 120px;
          margin-left: 15px;
          background-size: cover;
          border-radius: 50%;
          border: 2px solid $primary-color;

          @media #{$small-and-up} {
            width: 148px;
            height: 148px;
          }

          &.work__image--1 {
            background-image: url('../images/1.png');
          }
          &.work__image--2 {
            background-image: url('../images/2.png');
          }
          &.work__image--3 {
            background-image: url('../images/3.png');
          }
          &.work__image--4 {
            background-image: url('../images/4.png');
          }
        }
      }

      .work__detail {
      }
    }
  }

  .info__bg {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: $satori-color;
    opacity: .9;
    z-index: 1;
  }
}
