//
// Index/Router Components
// --------------------------------------------
//

section#content {

  &[data-bg-render='finished'] {
    .content__router {
      opacity: 1;
    }
  }

  &[data-content-render='credit'],
  &[data-content-render='info'] {
    .content__router {
      opacity: 0;
      visibility: hidden;
    }
  }

  section.content__router {
    transition: opacity 1.5s;
    position: absolute;
    bottom: 5%;
    left: 0;
    width: 100%;
    z-index: 10;
    opacity: 0;

    &:before {
      content: '';
      display: block;
      padding-top: $main-bg-ratio;
    }

    @media #{$small-and-up} {
      left: 50%;
      width: $main-bg-width;
      margin-left: $main-bg-width / -2;
    }

    .router__wrapper {
      position: absolute;
      bottom: 20%;
      left: 3%;
      transform: rotate(10deg);

      .router__link {
        transition: margin-left .3s;
        padding-bottom: 10px;
        font-size: 2rem;
        font-family: $font-google-family;

        &:hover {
          margin-left: 10px;
        }

        &.router__link--info {
          color: $satori-color;
        }

        &.router__link--credit {
          color: $koishi-color;
        }
      }
    }
  }
}
