doctype html
html(lang='ja')
  head
    meta(charset='utf8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    block title
      title title
    link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Pacifico')
    link(rel='stylesheet' href='css/app.css')
  body
    block body
      script(src='js/bundle.js')
      script.
        document.addEventListener('DOMContentLoaded', function() {
          new App();
        });
