//
// Global Styles
// --------------------------------------------
//

html {
  box-sizing: border-box;
  font-size: $font-default-size;
  font-family: $font-family;
  line-height: $font-line-height;
  color: $primary-color;
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: $font-root-size;
  height: 100%;

  @media #{$small-and-up} {
    font-size: $font-root-mobile-size;
  }
}

a, a:link, a:visited, a:hover, a:active {
  transition: opacity .3s;
  color: $primary-color;
}
a:hover {
  opacity: .48;
}
